[2020-11-06 11:02] tiagooliveira5n opened #1 "Suggestion / request: Adding predefined dates"
Hi @ryanjamurphy ! All right?

Your plugin is fantastic! It addresses a need for students to maintain a continuous and effective flow of reviews. I am grateful for this!

I have a suggestion / request:
For us exam students, the reviews already have defined periods.
Ex.:
High incidence subjects: 3 - 20 - 45 - 60 days; and
Low incidence subjects: 4 - 30 - 60 - 90 days.

Would it be possible to add s

[2020-11-06 18:17] ryanjamurphy commented on #1
Great suggestion, thanks! This would also be valuable for e.g., repeating tasks.

I'd love to implement it, and I think it should be easy. I will see what I can do.

[2020-11-06 19:03] 5toliv commented on #1
This would be fantastic!

From now on, my many thanks!

[2020-11-06 22:30] 5toliv commented on #1
![image](https://user-images.githubusercontent.com/39396615/98420716-841a4800-2066-11eb-8acc-cca1bec174b0.png)

[2020-11-06 22:41] ryanjamurphy commented on #1
Thanks for this. I think I'd go simpler, though. A syntax like:
| Review pattern | Pattern        |
| -------------- | -------------- |
| high incidence | 1 3 5 10 20 40 |

where each numeral indicates the number of days to add to today to add a review note.

Mostly because this'd be far easier to code, heh.

[2020-11-07 02:04] 5toliv commented on #1
Much more direct and practical! Hahaha
Grateful for the attention and response!

[2020-11-09 20:34] Nebucatnetzer opened #3 "Date format problem"
I'm getting the following error when I try to run to set the review date, the Natural Language Date plugin works fine.
[code]

[2020-11-09 21:15] ryanjamurphy commented on #3
Hm. I am not able to reproduce the error... What settings do you have in the Natural Language Date plugin settings?

[2020-11-09 21:16] ryanjamurphy commented on #3
You may want to double-check that you've updated both Natural Language Dates plugin (0.2.6 is the current version) and Review (1.3.0 is the current version).

[2020-11-09 21:40] Nebucatnetzer commented on #3
Hm strange got it working now.
Update your plugin (NLD was already up to date) but that didn't work.
Restarted Obsidian and then Review complained that NLD was missing.
Toggled both plugins and now it's working.
No idea what when wrong there ¯\_(ツ)_/¯.

[2020-11-09 21:40] #3 closed

[2020-11-09 21:42] Nebucatnetzer commented on #1
I was just thinking about a custom default date. E.g. Monday because the default tomorrow doesn't actually work.
Maybe the two ideas are related?

[2020-11-10 15:00] ryanjamurphy commented on #1
Maybe the two ideas are related?

@Nebucatnetzer Do you mean for this plugin (Review), or for the Natural Language Dates plugin?

If you mean for Review, how do you imagine this would work? A "default review" command, maybe, such that instead of prompting with a modal it just assigns the current note to a preset number of days in the future or the past?

[2020-11-10 15:59] Fiveflower opened #4 "Link path to subfolder"
Hello ryanjamurphy,

I like the Plugin, it´s a good possibility to work well on follow-ups.
But on thing, that doesn´t work for me are subfolders. The links are put in the date-file under the Topic ## review - so far so good. But they only point to the root path, and don´t follow the complete path to the note the review was executed.  Any idea for that?

[2020-11-10 16:08] ryanjamurphy commented on #4
Hiya! The folder needs to exist first—the plugin doesn't handle folder/subfolder creation. Sorry!

[2020-11-10 21:40] Nebucatnetzer commented on #1
For this plugin.
I thought it might work like this:

1. Configure a default date in the settings e.g. "monday".
2. Go to a note.
3. Start the review command.
4. Don't enter anything and press enter.
5. Review then uses the default date from the settings.

If the user enters something in the input field Review then uses the date from the input.

[2020-11-10 21:56] ryanjamurphy commented on #1
Ah, neat. Makes sense to me—I'mma try to convert this into a new issue though, to keep things atomic!

[2020-11-10 21:57] ryanjamurphy opened #5 "Default date (with customizability)"
Maybe the two ideas are related?

_Originally posted by @Nebucatnetzer in https://github.com/ryanjamurphy/review-obsidian/issues/1#issuecomment-724295793_

[2020-11-10 21:57] ryanjamurphy commented on #5
[Also from @Nebucatnetzer:](https://github.com/ryanjamurphy/review-obsidian/issues/1#issuecomment-724983376)

[2020-11-11 07:41] Fiveflower commented on #4
….. error identified. My notes startet with a "#", so the link wasn´t found generally --> my bad…..
Issue closed -> Keep up the good work!

[2020-11-11 07:41] #4 closed

[2020-11-11 09:20] Nebucatnetzer opened #6 "Link to line"
Another idea would be to add an option to link to a specific line e.g. where the cursor currently is.
And then in the journal file use the `![[link]]` format to display the task directly in the file.
This would be very useful for getting back to people.
I could image two ways this could be implemented, either as an option in the settings which lets you enable it for the current review command.
Or

[2020-11-11 16:02] ryanjamurphy commented on #6
Aye! In fact, one of the reasons I developed the workbench plugin was to explore how to interact with block embeds and linking. I plan on adding "review this block" in the next update to this plugin.

Thanks!

[2020-11-12 19:04] rklasen opened #7 "Doesn't use daily note template when creating a new daily note"
Hi, thanks for this plugin!

Ive noticed that when the daily note at the review date doesn't yet exist, it's created empty instead of using the daily note template.

For example, I have todays daily note created and filled, but not tomorrows. I'll probably create it tomorror. Now, when I add a review date for tomorrow, a new note is created in the correct folder, but it only contains:

[code]

Whe

[2020-11-12 19:24] ryanjamurphy commented on #7
Thanks for this. I didn't think we could interact with the Daily Notes template via the API, but I'll take a look at Calendar.

[2020-11-13 15:29] Nebucatnetzer commented on #6
I started to do this manually and noticed something that would be very useful.
When I look at a task like the following, I often want to know until when I gave X time to reply.
[code]
I solved this for the moment with a link from the task to the note.

[code]

[code]
Maybe Review could do this automatically?

[2020-11-13 17:14] ryanjamurphy commented on #6
So you just mean adding the date-note to the line when you hit "Review this block..."  do I have that right?

In that case, we're on the same page again. I am planning a "rich task management" plugin to offer this via a "schedule this task"-type functionality, along with some other mechanics (like cancelled tasks).

[2020-11-13 17:29] wrgrant commented on #7
It looks like @liamcain is [using some private api methods?](https://github.com/liamcain/obsidian-calendar-plugin/blob/9bddaeff16aa4933d7611c9b0caeb53b8492a4af/src/settings.ts#L43)

[2020-11-13 18:51] liamcain commented on #7
Unfortunately, the built-in daily note template doesn't work for days other than today (past/future), so I largely had to mirror the functionality in the calendar plugin.

[2020-11-13 19:01] ryanjamurphy commented on #7
Thanks @wrgrant / @liamcain. I'll have a look at the Calendar plugin when I get the chance!

(@wrgrant since the plugin API is still being developed, there's lots of little functions not currently exposed that you can still call if you guess the right ones, heh. I think the devs that were working off Volcano as a third-party plugin loader are proficient in these!)

[2020-11-14 08:47] Nebucatnetzer commented on #6
Yes exactly.
Nice I'm looking forward to it.
I was using Emacs Org-mode for a long time, which is great but there's just not enough support for it out there.

[2020-11-16 06:41] Bejasc commented on #7
+1 for this

[2020-11-16 17:50] liamcain commented on #7
@ryanjamurphy just a heads up that I'll be adding a `create-daily-note` event trigger in the next version of the calendar plugin that you could trigger. This would create a soft plugin dependency on the calendar plugin, then you could add a fallback behavior of just creating an empty note (maybe with a notice of the missing dependency)

LMK what you think; if you like that approach I can provide a

[2020-11-16 21:02] ryanjamurphy commented on #5
Implemented in 1.4.0, just released!

[2020-11-16 21:02] #5 closed

[2020-11-16 21:35] ryanjamurphy commented on #6
Implemented "review this block" as a new command in 1.5.0.

@Nebucatnetzer this doesn't include the addition of the date in the block-line like you've described [here](https://github.com/ryanjamurphy/review-obsidian/issues/6#issuecomment-726828776), just to be clear. I still intend on implementing that kind of task management in a different plugin.

[2020-11-16 21:35] #6 closed

[2020-11-16 21:51] ryanjamurphy opened #8 "Display a calendar in the date modal"
Show an interactive calendar view in the date modal when Review commands are invoked, such that the user can click on a date in addition to entering a date via text.

[2020-11-16 21:52] ryanjamurphy commented on #8
This might easily be accomplished by integrating with @liamcain's Calendar plugin.

[2020-11-16 21:52] ryanjamurphy commented on #7
@liamcain Thanks! I'll check with the devs—it would be better if the Daily Note Template itself were exposed, so that this thing doesn't end up having multiple dependencies just for things that arguably should be available from the app.

On the other hand, [I'm toying with a new idea that would benefit from deeper integration with Calendar](https://github.com/ryanjamurphy/review-obsidian/issues/7)

[2020-11-16 22:13] ryanjamurphy commented on #1
Just a quick update on this front. What I need to figure out is how to easily and elegantly allow the user to add and remove an arbitrary number of patterns.

This is a bit tricky, because each new pattern would, ideally, also be a new in-app command (so that you don't need to jump through multiple modals or something to invoke a new pattern.

It should be doable, I just haven't had the chance to

[2020-11-16 22:34] liamcain commented on #7
@ryanjamurphy Yeah, I agree it makes more sense to be handled by the daily-notes plugin itself. I not so subtly suggested an integration approach in Discord but I maybe I should post it in the forum for a better reception.

(Note: It would require a bit of reworking of the Daily Notes plugin to support days other than today so I agree it might not be top priority for them.)

I don't think it would

[2020-11-16 22:37] ryanjamurphy commented on #7
@liamcain Sure, let me know! I might not get the chance to do further development until the weekend, but you never know when inspiration's going to strike...

[2020-11-17 00:44] wrgrant commented on #7
This is awesome collaboration!

Could I offer a suggestion @liamcain, what about extracting this functionality of interacting with the daily note plugin into a separate npm package?

This way the dependency can be controlled by you guys at compile time, versus requiring the user to have a dependency of installed packages.

It could also serve as a reference API extension for the Obsidian crew to p

[2020-11-17 00:50] Bejasc commented on #7
@wrgrant I think that's a great solution.
I personally have no interest in using the calendar plugin, and would prefer to avoid pulling in unwanted plugins just to fulfill functionality of another one.

[2020-11-17 00:53] Bejasc commented on #7
I don't think it would be entirely bad if an option was included in the review plugin to "use a template" for new notes - and it becomes the users responsibility to target the same template, if that's the behavior they want to use. It would also allow users to use a different system, as some may prefer to use a different template entirely?

**Proposed new config items**
- Use a template for new no

[2020-11-17 00:59] liamcain commented on #7
@wrgrant, I think that's fair. I'm mostly thinking about the Calendar plugin a surrogate for the daily-notes plugin and how to define a soft-dependency between Review <---> Daily Notes. But the proof of concept can still be achieved by bundling the code as it's own package. I'll split it out.

And great point @Bejasc, it's not fair to ask users to pull in unwanted plugins.

😢

[2020-11-17 01:23] Bejasc commented on #7
No offense of course @liamcain!

It just doesn't fit in to my workflow. Perhaps one day that will change.

Incredibly proud and respectful of everyone in the plugin development space for Obsidian - regardless on if I use that plugin or not 😄 Thank you for all your work on the Calendar plugin!

[2020-11-17 02:06] kabo1234 commented on #7
+1 one for the daily template integration

[2020-11-17 02:12] kabo1234 opened #9 "prefix '-' or '- [ ]' doesn't work"
Hi Ryan,

the prefix doesn't seem to do anything - I tried it both with custom CSS and the standard Obsidian CSS.

Great plugin anyway!

[2020-11-17 03:05] ryanjamurphy commented on #9
Thanks! I did this deliberately, but now I see it might not have been a good idea. I'll provide a setting for users to specify what kind of block link/embed they want via prefixes when I get back to my desk.

[2020-11-17 03:06] ryanjamurphy commented on #9
Oh, wait. Does the prefix not work with note links at all? In my above comment I was referring to block links, but maybe I introduced a regression in prefix handling in 1.5.0...

[2020-11-17 07:35] Nebucatnetzer commented on #6
No problem, this is already a big help, thank you!

[2020-11-17 09:08] Nebucatnetzer commented on #5
Just noticed something minor here.
Even though I've configured a default date (which is working just fine) it still says "tomorrow" in the pop-up.
It might be a better user experience if the text in the pop-up would match the day the user configured.

[2020-11-17 15:31] ryanjamurphy commented on #9
This is now fixed. You can customize the prefix you want to use in the plugin's settings. Thanks!

[2020-11-17 15:31] #9 closed

[2020-11-17 15:38] ryanjamurphy commented on #5
@Nebucatnetzer Great catch. This is fixed (and the _default_ default date is now tomorrow, so that'll show unless you change it.)

[2020-11-18 07:49] Nebucatnetzer commented on #5
Great thank you :D

[2020-11-20 02:23] liamcain commented on #7
@ryanjamurphy I created a separate repo you can add as a dep for this: [liamcain/obsidian-daily-notes-interface](https://github.com/liamcain/obsidian-daily-notes-interface). It's the same code I use in the calendar plugin.

Basic usage would be:

[code]

[2020-11-21 19:20] tallguyjenks commented on #7
+💯 for this :)

[2020-11-21 19:22] tallguyjenks opened #10 "A Support link like Buy me a coffee or github sponsors so some of us can support your great work 💰️💰️💰️"
![image](https://user-images.githubusercontent.com/29872822/99885715-d6717200-2beb-11eb-9437-595c5f2538de.png)

[2020-11-21 19:41] ryanjamurphy commented on #7
@tallguyjenks You are late to the party! I released 1.6.0 just a _moment_ (pun intended) before you posted.

With 1.6.0, the Review plugin now uses the Daily Notes plugin's template, if you've defined one.

All credit due to @liamcain 🎉

[2020-11-21 19:41] #7 closed

[2020-11-21 19:44] ryanjamurphy commented on #10
Thanks! That's kind of you.

I've considered it, of course. However, this stuff is somewhat related to my research interests, and I'm (very fortunately) receiving a scholarship in my PhD. So, for now, consider my work publicly funded and send some appreciation to Canada's tri-council research agencies. 😉

[2020-11-21 19:48] tallguyjenks commented on #7
**HAHA** i JUST saw it when i navigated back to the main vault page 🤣 already updated ⭐️⭐️⭐️⭐️⭐️

[2020-11-21 19:49] tallguyjenks commented on #10
![image](https://user-images.githubusercontent.com/29872822/99886214-a330e200-2bef-11eb-96a0-2778e90e973a.png)

[2020-11-21 21:35] #10 closed

[2020-11-23 00:27] wrgrant commented on #7
Just wanted to drop back by and say THANK YOU @ryanjamurphy and @liamcain.
This was impressive collaboration 👏

[2020-11-26 06:07] jacklaing opened #11 "Specify different headers based on different parameters"
The different parameters that might reflect different types of reviews include:
- Blocks vs links, e.g. linking pages is more likely to be a study "Review", whereas linking a block is more likely to be "Tasks" to be done.
- Folders. Different note types will live in different folders and may therefore also benefit from a logical separation on the Daily Note, e.g. a Read header for links from a Rea

[2020-11-26 06:10] jacklaing opened #12 "Reschedule review items"
When the cursor / activeline is on the review item, whether it's a page link or block reference, it would be amazing if we could reschedule the item from one Daily Note to another.

I envision this having two options, with two different keyboard shortcuts:
- Move (cut and paste the link to the specified date(s))
- Repeat (copy and paste the link to the specified date(s))

[2020-12-01 18:47] liamcain commented on #8
Yea yea... I see this. I'm still thinking if there's any easy way to do this.

Now that the calendar has preview/TODO support/etc I think this more value too.

[2020-12-05 18:20] ryanjamurphy opened #13 "Add the ability to copy block as alias/embed, to show the text of the block in edit mode"
[From Jackal on Discord](https://discord.com/channels/686053708261228577/707816848615407697/784843290821263402):

[2020-12-05 18:21] ryanjamurphy commented on #13
Note that either block aliases or markdown links would work, so providing the option for both would probably be nice:

![Screen Shot 2020-12-05 at 11 12 53 AM](https://user-images.githubusercontent.com/3618647/101260280-0b052380-36ec-11eb-9f89-7c682a489f5f.png)

[2020-12-05 18:44] JackALaing commented on #13
I concur with providing the option for both. Now that I know markdown links work for this too, I'd be tempted to go with markdown since it brings the content of the block to the front of the link.

[2020-12-06 06:12] AngelusDomini opened #14 "Review text under header"
Feature request: Add option to review text under a header (instead of the entire note or a block, which are the only options at the moment). In other words, the link to the current note on the future daily note would just be [[Daily note#This header]].

[2020-12-06 06:14] AngelusDomini opened #15 "Option to embed note/header"
Feature request: Add option to embed entire note or header ^[(once [Reviewing headers](https://github.com/ryanjamurphy/review-obsidian/issues/14) gets added as a feature)] just as you currently would with blocks. Preferably this option would appear in the dialog box for setting review date instead of just from the plugin options.

[2020-12-09 05:36] Jackiexiao opened #16 "consider support ebbinghaus curve repeat?"
so I could use it like a very simple anki app

[2020-12-13 12:06] Pseudonium commented on #16
Before this is implemented as a feature, there are some Anki integration plugins you could use, including my own Obsidian_to_Anki.

[2020-12-13 12:09] makerjackie commented on #16
thx! I had try flashcards obsidian plugin these day, will try obsidian to anki

[2020-12-18 03:48] tgrosinger commented on #8
@liamcain, just wanted to check if you think making the calendar embeddable is going to be possible. I have a new modal I am working on and would love to embed your calendar in it if possible.

[2020-12-18 04:52] tgrosinger commented on #8
And if you do, being able to provide a callback for the action when a day is clicked would be extra cool!

[2020-12-18 14:31] liamcain commented on #8
So, I have a general plan. My thinking is it's easiest to split the view into its own npm package. The view is already pretty reusable (it just has callbacks for onclick, etc).

The svelte runtime is pretty small so I'm not too worried about the bundle size, but could be something to consider in the future.

I want to do a further refactor to provide the calendar view with an input of `sources`. A

[2020-12-18 15:08] tgrosinger commented on #8
This sounds perfect. I think the first part will be the bulk of what I need anyway.

I will work on other parts of the Slated UI in anticipation. Thanks!

[2020-12-21 20:04] liamcain commented on #8
Small update: I have a more generalized version of the calendar _mostly_ working. Ended up being a bigger overhaul than I originally planned. But hopefully worth it!

[2020-12-23 03:52] liamcain commented on #8
Okay, very experimental but I now have a repo for the Calendar UI: https://github.com/liamcain/obsidian-calendar-ui. I'm still retrofitting the calendar plugin to use the more generalized approach but I'm happy with the refactor now!

[2021-01-27 19:58] lwb52 opened #17 "odd error message"
Obs.v.0.10.7—10.10 (OSX10.14.6): in one Vault (used for testing only, and applying no Theme), upon opening the Vault, the Review plugin throws a brief error message that reports it cannot locate the Natural Language Dates (NLD) plugin to work; however, both have been installed, removed, re·installed, turned on&off, and the vault reloaded or Obs restarted, all multiple times in various orders—but t

[2021-01-28 10:09] lwb52 commented on #17
created brand new vault with only NLD, Review, and Vantage: no issue at all! is this possibly just a one-off???

[2021-01-28 19:08] ryanjamurphy commented on #17
Hah, we'll cross our fingers. Probably just weather in Obsidian? Thanks for the follow up!

[2021-02-04 04:00] montemartin commented on #17
I initially came here to report the same issue, but taking a look at the dev console it seems NLD is missing a CSS file.
`Failed to load resource: the server responded with a status of 404 ()…https://github.com/argenos/nldates-obsidian/releases/download/0.3.3/styles.css:1`

I'm guessing that is what causes the error message. It doesn't seem to have an effect on either plugin. I'm not sure what NLD

[2021-02-04 05:55] montemartin commented on #17
After a little more digging I found that definitely isn't the cause of the error. (It happens when I try to update NLD, which is a different issue). The error I'm getting is from [Line 16 of Review](https://github.com/ryanjamurphy/review-obsidian/blob/b7e927f7a362b4910fb9ccc7394831fc8f5625e1/main.ts#L16).

I did a little testing and it looks like this check for NLD should work correctly, so still

[2021-02-04 22:17] ryanjamurphy commented on #17
Thanks for the follow-up. I don't _think_ it's the CSS file, as most plugins are missing one. I imagine there's a better way to ensure NLD is installed, so maybe someday I'll write one and this issue will go away. 'Til then I'll keep collecting reports!

[2021-02-05 01:03] lwb52 commented on #17
I just find it very odd – possibly even revealing – that it only happens on my setup with just one vault of the two I use for testing plugins rather than data—I rarely modify their themes because some themes don’t do well with some plugins, and both can have issues with Obs. app upgrades.

In fact, something specific for me to investigate: now that I think of it, the affected vault is the only one

[2021-02-05 01:55] liamcain commented on #17
This should be fixed by #18. Because the plugin load order isn't guaranteed, I changed when the check is done. (So it will properly wait until all plugins are loaded before checking.)

[2021-02-05 05:30] lwb52 commented on #17
Thanks—changing the themes had absolutely no effect…

[2021-02-06 17:32] #17 closed

[2021-02-09 14:32] danieltomasz commented on #17
I was getting the same error message, uninstalling and installing the plugin again make the error message disappear.

[2021-02-10 08:07] lwb52 commented on #17
I tried that, but it didn’t seem to work.
My remedy, finally, was just simply to replace the plugin with a copy from a vault where it worked correctly…

[2021-02-15 02:39] jelphd opened #19 "Suggestion/Request"
Hi,

I love the plug-in and think it's a great idea, and it's easy to use. My request may be outside the plug-in's intent, but is it possible to have an option to just cut and paste the selected text in the future daily note. For example, if I want to remind myself to call Mom on her Valentine's Day, I don't need the reminder written in a separate markdown file that tells me to call Mom. I only ne

[2021-02-22 23:09] trydalch opened #20 "Build broken "Property 'plugins' does not exist on type 'App'"
I'm not sure how this plugin even works, as the build seems to be broken, and it's referencing properties and methods that are non-existent on the obsidian api.

Am I doing something wrong?

[2021-02-23 00:50] ryanjamurphy commented on #20
It would help if you described what was broken about it. Did you install it from the community plugins?

And yes, it is using some unpublished parts of the API.

[2021-02-23 00:57] ryanjamurphy commented on #20
Wait, I just reread your topic here. Why are you downloading it and building it from source?

To install and use plugins, use the community plugin gallery in-app. If you for some reason want to download it straight from GitHub, you only need `main.js` and `manifest.json`.

[2021-02-23 00:57] #20 closed

[2021-02-23 01:17] ryanjamurphy commented on #19
Thanks for the feedback!

I think this is possible. _But_. Have you tried the "Review block" command?

If you have written "Call Mom on Valentine's Day" on a line somewhere, you can invoke the "review this block" command to send just the block to the future date.

You can control how that block appears in Review's settings by changing whatever prefixes it. So, if the blocks you review are typicall

[2021-02-23 01:23] trydalch commented on #20
I'm working on my own plugin, and was interested in learning how you leveraged other plugins. So I cloned it to build and play around with to learn.

How do you find & use unpublished parts of the API?

[2021-02-23 01:26] ryanjamurphy commented on #20
Ah, that makes more sense. Fun!

The same thing you're already doing—finding other plugins that have done so. You can also explore what the app contains by using `console.log(object)` and then inserting interesting objects, like, well, `this.app`. You can explore what those objects are and what they include, and some of them can then be used in plugin development.

Disclaimer: I am a terrible prog

[2021-02-23 21:10] blongty opened #21 "Compatability with Templator"
Would it be possible to have the template be created from Templator rather than the default Template plugin?

[2021-03-23 11:00] fakeharxy opened #22 "Seems to not deal with templated dates correctly"
This could be PICNIC but I'm having issues with my template and Review. In my daily note template I have the following:

[code]

This is suppose to display as <<< || >>> with the arrows as links to the previous/next notes, and works correctly when the daily note is created with Calendar or the Daily Note Hotkey.

When I select a task (block) to Review, if the daily note needs to be created by Revi

[2021-03-26 15:46] jaideeprana opened #23 "Feature request to make certain note or a block reoccurring"
This feature request is similar to how Google's calendar's reoccurring works.

I want to customise a particular note reviewal cycle.

For e.g. I want my Health note to be reviewed by me every Friday.

Similarly some other notes fortnightly, monthly etc.

[2021-04-05 19:51] meskill commented on #21
I think you meant [Templater](https://github.com/SilentVoid13/Templater) plugin

I'm using both plugins and it works fine except for templates based on title - see https://github.com/ryanjamurphy/review-obsidian/issues/22

[2021-04-05 19:53] meskill commented on #22
Same issue here - most templates works just fine, except for templates which includes parsing filename title

[2021-04-05 21:42] ryanjamurphy commented on #22
Interesting. Thanks for the report. I also get a similar problem with Periodic Dates' date math (which does basically the same thing as Templater's date feature).

I think this is actually caused by Review's reliance on the Daily Notes Interface made by @liamcain—that interface handles note creation. Liam, I note that the interface readme includes a description of `getTemplateInfo`, which states:

[2021-04-05 21:43] ryanjamurphy commented on #21
Closing this to keep discussion in #22!

[2021-04-05 21:43] #21 closed

[2021-04-05 21:53] liamcain commented on #22
This report looks to be a bug in the Templater  plugin (which just received a complete overhaul today).

You're not using the `getTemplateInfo` function at all, so that's not an issue.

If you want that behavior to happen in the Review plugin, you'll need to update your version of the `daily-notes-interface` package that you're using. That behavior got added in `0.8.X`. You're using [`v0.7.0`](htt

[2021-04-05 21:56] ryanjamurphy commented on #22
D'oh. I ran `npm update` before my comment above, but I hadn't realized I had to advance the version requirement in the ~~rollup~~ `package.json` file.

Pushing an update that'll get this working with Periodic Notes in a moment!

@meskill / @fakeharxy — mind testing with the new edition of Templater and reporting back?

[2021-04-06 13:55] fakeharxy commented on #22
@ryanjamurphy That has fixed the issue, at least for me! Thanks all

[2021-04-06 15:31] Mara-Li commented on #23
You can check Slated, who done that ! https://github.com/tgrosinger/slated-obsidian

[2021-04-06 16:39] meskill commented on #22
@ryanjamurphy it is working fine with the latest version, thank you

I think issue might be closed now

[2021-04-06 19:31] ryanjamurphy commented on #22
Thanks all!

[2021-04-06 19:31] #22 closed

[2021-04-15 11:40] jaideeprana commented on #23
Thanks @Mara-Li

[2021-04-15 11:41] #23 closed

[2021-04-18 16:31] janpeeters70 opened #24 "Not able to find 'Your daily notes folder' in plugin settings"
From the instructions on GitHub:

I'm not able to find this in the plugins settings. Is this obsolete?

[2021-04-18 17:00] ryanjamurphy commented on #24
Sorry, it is. It just uses your daily notes (or Periodic Notes, if you're using it) settings now!

[2021-04-18 17:01] j-peeters commented on #24
Terrific, thanks for the speedy reply @ryanjamurphy.

[2021-04-20 14:30] CarloLoTelit opened #25 "Unable to create note"
In version 1.6.2 on Windows 10 if a daily note already exists, the plugin is unable to add a new review item

[2021-05-10 08:16] patrickcjwall commented on #25
Yes I am also having this issue (also v 1.6.2 on Windows 10). Any idea of a fix/workaround? For the moment I am setting to review on a date that doesn't yet have a note and then copying to the note I really want but this is not a permanent solution

[2021-05-10 18:33] ryanjamurphy commented on #25
Hm. Sorry for the trouble. I'm struggling to reproduce this issue, however. Can someone pull up the console (<kbd>cmd/ctrl</kbd>+<kbd>alt/opt</kbd>+<kbd>i</kbd>, then click the Console tab at the top) and reproduce the issue to see if any errors are reported?

Thanks!

[2021-05-11 17:17] patrickcjwall commented on #25
Thanks @ryanjamurphy -- I'm quite new to Obsidian and that key combination isn't doing anything...is there another way to get to the console?

[2021-05-11 20:57] ryanjamurphy commented on #25
What operating system are you using, @pwal2425? Note that if it's macOS, the key command should be <kbd>cmd</kbd>+<kbd>opt</kbd>+<kbd>i</kbd>. If Windows, it's <kbd>ctrl</kbd>+<kbd>alt</kbd>+<kbd>i</kbd>.

[2021-05-12 07:04] patrickcjwall commented on #25
Windows 10 and Obsidian v.0.12.3. cmd+opt+i isn't doing anything...

[2021-05-12 15:15] ryanjamurphy commented on #25
D'oh, sorry, I had it wrong! It looks like it's <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>i</kbd> on Windows.

[2021-05-12 18:00] patrickcjwall commented on #25
Ah great. This is what the console said when i set '- [ ] Test line' for review today (which already has a daily note called '2021.05.12 Wednesday «Plan»'

Checking for block:
main.ts:97 Checking if line '- [ ] Test line' is a block.
main.ts:101 Checking block ^kvmd2zv
main.ts:97 Checking if line '- [ ] Test line' is a block.
main.ts:101 Checking block ^kvmd2zv
main.js:246 Failed to create file: '

[2021-05-12 18:05] patrickcjwall commented on #25
And this is when I set 'Test line 2' for review on a date that does not yet have a note:

Checking for block:
main.ts:97 Checking if line '- [ ] Test line 2' is a block.
main.ts:101 Checking block ^kvmd2zv
main.ts:97 Checking if line '- [ ] Test line 2' is a block.
main.ts:101 Checking block ^kvmd2zv
main.ts:121

[2021-05-12 19:52] ryanjamurphy commented on #25
Thanks. It's not clear why this is happening. Still, I just tried a couple of things—update to 1.6.3 and let me know if you see the issue again.

[2021-05-12 19:52] #24 closed

[2021-05-14 17:31] samthom commented on #25
Using Version _1.6.3_ With Obsidian _v0.12.3_ (In Linux)
The same issue persist. Don't know about macOS and Windows.

[2021-05-14 17:59] ryanjamurphy commented on #25
A question for everyone here: What is the format for your daily note filename?

@pwal2425, I've located your error: you cannot use periods (`.`) in filenames. That's causing issues with finding the right path for an existing file. I don't think I can fix this, because I'm not doing anything special when writing to these files—just using Obsidian API calls. I recommend changing your format to use e

[2021-05-14 18:10] patrickcjwall commented on #25
Ah. Thanks. Yes I use YYYY.MM.DD for my daily note.  Do you know why this only just started happening?

[2021-05-14 18:25] ryanjamurphy commented on #25
The timing's hard to pin down, as there's a number of things that could have changed. Ultimately, though, I'm not sure why it ever would have worked. I _think_ this function is handled by the Daily Notes Interface created by @liamcain—Liam, do you have any quick guesses as to why users can no longer use `.` in the filenames?

[2021-05-14 19:04] liamcain commented on #25
@ryanjamurphy, hmmm looks like that could be an issue on my end. I can take a look.

[2021-05-15 02:52] samthom commented on #25
@ryanjamurphy I'm using *DD-MM-YY* format for my daily notes. The first time when I add a note for review it works. New note get created with review section below my template. But if I tried to add another note to same  day it shows `unable to create new file`
Basically I am not able add notes for review if the daily note file exist for that day.

Do you want me to open a new issue, Since mine see

[2021-05-16 00:52] ryanjamurphy commented on #25
Hmm. @samthom what's your console saying when it fails? What is the folder path for your files?

[2021-05-16 05:09] samthom commented on #25
![image](https://user-images.githubusercontent.com/16944406/118386069-3c3a3600-b632-11eb-9401-c1dd4b60a517.png)

My daily notes path is `/home/samthomas/Cloud/System Sync/Notes/Second Brain/Resources/Zettlekasten/Daily
`.
If you're concerned about the privileges, The first time when I add note for review it's working.

[2021-05-18 09:49] patrickcjwall commented on #25
@ryanjamurphy I am currently using the Daily Note core plugin, as opposed to the one through the periodic notes plugin (though I do use the periodic notes plugin to create weekly notes). So far this approach has not caused problems, but perhaps it is part of the issue here?

[2021-05-18 16:30] ryanjamurphy commented on #25
@pwal2425 You could try disabling the Daily Note core plugin and using only Periodic Notes (the functionality is equivalent). I don't think it's your issue, but it's worth a shot.

---

@samthom The plugin (1) checks for a file that matches the filename of the daily note. (2) If it finds no such file, it creates one. (3) If it does find a file, it appends to it.

So the problem's likely in (1). So

[2021-05-19 05:00] samthom commented on #25
No I recently started using this setup with **review** plugin and **periodic notes**. I disabled **daily notes** core plugin after the setup.
![image](https://user-images.githubusercontent.com/16944406/118758712-31c7a880-b88d-11eb-9b96-8b3c6a5106fb.png)
This is my periodic notes setting for daily notes.

[2021-05-20 02:11] ryanjamurphy commented on #25
@samthom

1. Does the Daily Note Template file end in .md? It might just be cut off in the screenshot.
2. Is there a chance you could have multiple files named e.g., `19-05-21`? I doubt it, but it would mean you don't have uniquely-named files...

[2021-05-20 05:00] samthom commented on #25
@ryanjamurphy

This is my template file
`Templates/Periodic Notes/Daily Note.md`
And I tried without the template, Problem persists without template also.

No there's only single file `19-05-21` as you can see below.
![image](https://user-images.githubusercontent.com/16944406/118921510-eb8a4c00-b955-11eb-8440-4f4cb528ecc5.png)

[2021-05-20 07:18] CarloLoTelit commented on #25
I have the same error log reported [here](https://github.com/ryanjamurphy/review-obsidian/issues/25#issuecomment-841767612) and according to [this note](https://github.com/ryanjamurphy/review-obsidian/issues/25#issuecomment-843327598) I looked at how the target file name is picked -> enabling debug logs it seems that the plugin looks for a file with `dd.mm.yyyy` format, which is different than the

[2021-05-20 10:01] samthom commented on #25
@ryanjamurphy @CarloLoTelit
Thanks, I changed **Natural language dates** date format. now it works fine.

[2021-05-20 19:52] ryanjamurphy commented on #25
Amazing! Thanks for your detective work, @CarloLoTelit, and thanks all for your diligence here.

@pwal2425 Have you had any luck? I would love to close this issue.

[2021-05-21 13:25] patrickcjwall commented on #25
Yes! Resolved. I had actually checked this as one of the very first possible issues and to the naked eye there seemed not to be a difference, but I copy-pasted for good measure and now it seems to work. Perhaps there was a trailing space or something that I hadn't noticed.

[2021-05-21 13:33] patrickcjwall commented on #25
Related to this though, would it be possible to modify the input coming from natural language dates for review? The situation for me is this:

- I keep all my timestamped files in a separate folder. This includes daily and weekly notes, meeting notes etc.
- To distinguish the daily notes (I call them plans as I used them mostly for planning) from other files with the same date, I use the format 'Y

[2021-05-21 15:57] ryanjamurphy opened #26 "Generate different Natural Language Dates strings for Review"
_Originally posted by @pwal2425 in https://github.com/ryanjamurphy/review-obsidian/issues/25#issuecomment-845953857_

[2021-05-21 15:58] ryanjamurphy commented on #26
I'll look into this. It should be possible—in fact it was an option in previous versions but I removed custom filename strings to reduce confusion.

[2021-05-21 15:58] ryanjamurphy commented on #25
Closing this thread! @liamcain just to summarize, it's not an issue with the interface. Sorry for the distraction!

Thanks all!

[2021-05-21 15:58] #25 closed

[2021-06-08 04:40] jctan05 opened #27 "Ability to add review to weekly / monthly note"
Hi, I was wondering if it would be possible to somehow set a review to a weekly or monthly note, not just daily notes. Thank you.

[2021-06-08 18:51] ryanjamurphy commented on #27
This is a good idea. Hm. How do you imagine it working, @jctan05? It is hard to map the current modal's natural language input to weekly or daily notes.

[2021-08-12 10:15] pwal2425 opened #28 "Feature request - ability to add link to source note in daily note"
Thanks again for this great plugin, which I love. One issue I have is that I often would like to know which note a review item comes from without having to click through to open the link in preview mode. I use the review function to assign to do items from different projects (each which have their own note) to specific days but, at present, it is sometimes not possible to know which project an ite

[2021-08-24 04:02] patrickcjwall commented on #26
Thanks :)

[2021-11-01 11:17] onurgu opened #29 "Unable to create new file"
Trying to add a review to a daily note which was created beforehand pops up a notification that says 'Unable to create new file'.

The following is the console log.

![image](https://user-images.githubusercontent.com/56893/139663292-2e8020cc-201b-4010-9e37-d64ded9658fb.png)

Apparently the function does not check whether the daily note is already created or not.

[2021-11-03 05:54] tofujlg commented on #29
I have the exactly same issue with the same console log.

[2021-11-04 11:19] almajbary opened #30 "Choose where to add the note"
How can I choose where to add the new note, as my daily note folder name is different it's like this 0. Daily Notes/Daily, so whenever I use a review it creates a new folder with Daily Notes/Daily.

What I wish I can do to select the path of my daily notes.

and thank you so much for this great plugin, it's awesome. :-)

[2021-11-04 12:11] ryanjamurphy commented on #30
Hiya! It should use your daily note preferences —have you configured that in Preferences → Daily Note (or Periodic Notes, if you are using that plugin).

[2021-11-04 12:12] ryanjamurphy commented on #29
I can reproduce this. Weird, I swear it used to work. Maybe something changed with the API...

I will investigate and fix this. Thanks for the report!

[2021-11-04 12:22] almajbary commented on #30
Many thanks, that fixed the issue :) I forgot to config my periodic notes preference.

[2021-11-05 22:40] ryanjamurphy commented on #29
Pretty sure I've fixed this in 1.6.4. Apologies for the trouble.

(It was a dumb mistake. I removed a user-configurable setting for Daily Notes in a recent release but didn't update the code that was using that setting to find your daily notes folder. Sigh.)

[2021-11-06 08:41] tofujlg commented on #29
Thank you!
I love this plugin!

[2021-11-19 16:24] cashkeith commented on #29
I just installed the plug-in this morning (from within Obsidian, not manually). It shows to be version 1.6.4, but I am having these same issues. 1.) settings doesn't have a section to set the daily notes folder. 2.) getting the error of unable to create a new file when attempting to add to a daily note that already exits.

[2021-11-21 16:06] #30 closed

[2021-11-21 16:07] ryanjamurphy commented on #29
@cashkeith Shoot. Does your console show the same error pictured above, in the original post in this thread?

[2021-11-23 15:34] cashkeith commented on #29
Ryan,

Here is a capture from the console and of what I show in settings. I don’t have the option to set the location for my daily notes, however it does create a new one properly just errors if the note already exists.  -ck

On Nov 21, 2021, 10:07 AM -0600, ryanjamurphy ***@***.***>, wrote:

![image](https://user-images.githubusercontent.com/56734339/143054493-7f6e2b53-759d-41bd-b2dc-0caf52ef96af

[2022-02-22 02:26] jinhanz commented on #29
This issue still exists on my Mac with the same console log, but it works fine on iOS...

[2022-02-22 16:44] ryanjamurphy commented on #29
FYI, the old Readme included an erroneous instruction to configure the location of the daily notes folder. That's no longer in the Readme, because it is no longer necessary. This plugin taps directly into the Daily Notes plugin/Periodic Notes plugin.

@shaderein Curious, I can't reproduce it. What's the path for your daily notes, and what's your daily note title format?

[2022-02-22 18:01] jinhanz commented on #29
@ryanjamurphy Thanks for reminding me about the title format! Just found out that it's due to the different date formats I used in daily notes title (YYYY-MM-DD-ddd) and in the natural language plugin (YYYY-MM-DD). Making them consistent solves this issue.

Didn't notice that before since the future notes created using this review plugin also have the day suffix. (So dumb of me...

[2022-02-22 18:43] ryanjamurphy commented on #29
Ha, great, glad it's fixed!

[2022-03-10 21:52] etiennepellegrini commented on #29
I came here for the same issue. Could I suggest either:
1. Stressing that the daily note filename will be inferred from the Natural Language plugin settings (maybe a "troubleshooting" or "common issues" section in the README, or in the settings of Review)
2. Adding the possibility of overwriting the natural language format in Review

I believe 2 would be a better solution, as it would allow users

[2022-09-07 05:39] wagle commented on #27
Me?  I want hotkey bindings to "in one day", "in two days". "in three days", "in a week", "in a fortnight", "in a month", etc
I suppose I can try an automator since this seems a stale issue, but that seems clunky

[2022-09-07 13:48] ryanjamurphy commented on #27
Can you open a separate issue for this? I think it's different from weekly/monthly notes. (No promises I'll have development time anytime soon, though!)

[2022-09-15 18:07] daxmonson opened #31 "Crash on ios when engaging review"
Working great on osx, but on ios when selecting add block or page to review Obs hangs then it crashes. There's no console obviously on ios so wondering if there's any way I can help you figure it out?
Thanks for the stellar plugin btw.

[2022-09-16 17:02] ryanjamurphy commented on #31
Hmm. I couldn't reproduce this just now on mobile 1.13.1, iOS 16.

There are ways to log console errors on mobile. I used this previously, but haven't tried it in a while: https://github.com/shabegom/obsidian-mobile-logging

- Install it via BRAT (https://github.com/TfTHacker/obsidian42-brat)
- Create a note called `Log`
- reproduce the issue then copy+paste `Log`'s contents

Hopefully that works?

[2022-09-16 19:09] daxmonson commented on #31
Very interesting. As soon as I installed the mobile console log via brat and toggled it on then engaged review it's now not freezing. I had forced closed Obs on ios and restarted the device a couple of times too. Handy to know about that little known plugin too. Something worked. Thanks

[2022-09-16 19:09] #31 closed

[2022-10-04 09:49] antback opened #32 "Does the plugin perform any action when the review date arrives?"
Hi!

First of all, thanks for sharing the plugin.

One question related on how the plugin works. After adding a review to a note for tomorrow, for example, when tomorrow arrives, the plugin performs any action like notifying or showing the note to review? It is not clear for me.

Thanks.

[2022-10-04 09:57] antback commented on #32
Ok, I see, it only creates the daily notes. It is supposed to work with Obsidian daily notes plugin.

Thanks.

[2022-10-04 09:57] #32 closed